.footer-container {
  background-image: url("../assets/19859.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0;
}

.each-icon {
  display: flex;
  flex-direction: column;

  align-items: center;

  .footer-icon {
    border: 1px solid black;
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 12px;
  }
}

.logos {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  font-size: 25px;
}
