.general-container {
  margin-inline: auto;
}

.greeting-container {
  width: 100%;
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-between;
  align-items: center;
}

.card-container {
  width: 100%;
}

.cards {
  width: 100%;
  color: black;
  background-color: white;
  display: flex;
  padding: 50px 20px;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  transition: all 0.3s ease-in-out;
  &:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .card-icon {
    color: blue;
    font-size: 70px;
    img {
      width: 110px;
    }
  }

  .card-title {
    font-size: 25px;
    font-weight: 800;
    color: rgb(108, 105, 105);
    width: 50%;
    text-align: center;
  }

  .card-description {
    text-align: center;
    font-size: 18px;
    color: gray;
    line-height: 30px;
  }
}

.card-outside {
  margin: -180px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

@media (max-width: 1320px) {
  .general-container {
    padding: 0 20px;
  }
}
