.hello-container {
  margin-top: 120px;

  @media (max-width: 768px) {
    .hello-button {
      margin-inline: auto;
    }
    .hello-image {
      margin-inline: auto;
    }
    p {
      width: 100%;
    }
  }
  .description {
    display: flex;
    flex-direction: column;
    gap: 30px;
    @media (min-width: 768) {
      margin-right: 90px;
    }
    p {
      color: gray;
      font-size: 18px;
      line-height: 25px;
    }
  }
  .hello-image {
    display: flex;
    justify-content: flex-end;
  }
}
