.projects-container {
  width: 100%;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  padding-top: 120px;
  justify-content: center;
  align-items: center;

  h1 {
    width: 75%;
    border: 1px solid purple;
  }
  .project-images {
    margin-top: 50px;
    img {
      width: 25%;
      height: 450px;
    }
  }
}
