.solutions-container {
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 150px;
  #solutions {
    height: 120px;
  }
}

.solution-cards-container {
  .solution-card {
    h3 {
      margin-top: 30px;
      font-size: 24px;
      color: rgb(60, 58, 58);
    }

    p {
      font-size: 14px;
      margin-top: 10px;
      color: gray;
      line-height: 22px;
    }
  }
}

@media (max-width: 1320px) {
  .solutions-container {
    padding: 0 20px;
  }
}
